tensorflow>=2.15.0
efficientnet-lite-keras @ git+https://github.com/sebastian-sz/efficientnet-lite-keras@main
tflite-support>=0.4.4
huggingface_hub>=0.21.0
pillow>=10.0.0
numpy>=1.24.0
scikit-learn>=1.3.0
matplotlib>=3.7.0
